



body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url("images/fondo.png");
    background-size: cover;
}

section {
    padding: 20px;
}

* {
    box-sizing: border-box;
}

table{
    width:100%;
    border-collapse: collapse;
}

td, th{
    padding: 12px 15px;
    border:1px solid #ddd;
    text-align:center;
    font-size: smaller;
}
th{
    background-color: #6D6D95;
}
tbody tr:nth-child(even){
    background-color: rgb(174, 174, 179);
}

.container-table{
    overflow:auto;
}

footer{
    background-color:rgba(10, 2, 66, 0.897);
    margin: 50px 0 0 0;
    height: 70px;
    text-align:center;
    padding: 1em 0;
    bottom: 0;
    margin-top:  50vh;
    color: white;
    font-weight: 400;
}

.data{
    margin-left:10px;
    margin-right:10px;
}

.management{
    margin:auto;
    padding:20px;
    list-style:none;
    margin-left:0px;
}

.tab{
    list-style:none;
    margin-left:-50px;
}

.management li a {
    text-decoration: none;
    font-family: sans-serif;
    color:black;
    font-weight: bold;
    font-size:1.5em;
    display:block;
}

.management li a:hover{
    background-color: #434343;
}

.management li ul {
    display:none;
}

.management li:hover > ul {
    display:block;    
}

/* Botones e input*/

.data button, .data input, main section:first-child button{
    height: 25px;
    font-weight: 800;
    border-radius: 10px;
    background-color: rgba(10, 2, 66, 0.897);
    border: rgba(10, 2, 66, 0.897) solid 1px;
    color: aliceblue;
    transition-duration: 1s;
}

.data button:hover, .data input:hover, main section:first-child button:hover{
    background-color: #6D6D95;
    border: #6D6D95 solid 1px;
}

.data input:focus{
    background-color: #6D6D95;
    border: #6D6D95 solid 1px;
}



/* Header */

header{
    background-color:rgba(10, 2, 66, 0.897);
    margin:0px;
    height:100px;
    overflow: hidden;
}

.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

/* Ubicacion de los botones */


.field{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    overflow: auto;
}

.field div:last-child{
    justify-self: flex-start;
}

main section:first-child{
    margin: 10px;
}